@font-face {
    font-family: "AudioWide";
    src: url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
}


/*---------------body------------*/

body {
    padding: 0;
    margin: 0;
    background-size: cover;
    height: 100%;
    background-image: url(https://wallpaperplay.com/walls/full/9/c/b/227936.jpg);
    background-attachment: fixed;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}


/*---------------header------------*/

header {
    height: 50px;
    width: 100%;
    position: fixed;
    background: linear-gradient(to bottom, #9B111E 0%, #8C020F 100%);
}

.navbar {
    width: 960px;
    margin: 0 auto;
    height: 50px;

}

.navbar-menu {

    float: left;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 16px;
    padding-left: 30px;

}

.navbar-menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.navbar-menu > ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar-menu > ul li {
    margin-left: 5px;
    padding: 15px;
    float: left;
}

.logo {
    float: left;
    width: 200px;
    padding: 5px;
}

.logo > a {
    text-decoration: none;
    color: #fff;
    font-family: "AudioWide", serif;
    font-size: 32px;
}

.authorization {
    height: 50px;
    width: 250px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 16px;
}

.authorization > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.authorization > ul li a {
    text-decoration: none;
    color: #fff;
}


.authorization > ul li {
    margin-left: 5px;
    padding: 15px;
    float: left;
}

.login {
    height: 50px;
    float: right;
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 16px;
}

#nav li {
    float: left; /* все ссылки идут слева на право */
    position: relative;
    list-style: none; /* убираем точки */
    width: 150px;
}

#nav a {
    text-decoration: none;
    display: block; /* делаем блочным элементов тег "a" */
    /*padding:35px 65px;*/
    color: #ffffff;
}

#nav ul {
    visibility: hidden; /* скрываем выпадающее меню */
    padding: 0;
    position: absolute;
}

#nav li:hover > ul {
    visibility: visible; /* показываем выпадающее меню при наведении */
    position: relative;
    left: -2px;
    top: 17px;
    /* смещаем выпадающее меню слева от размера рамки*/
}

#nav ul a {
    color: #fff;
    padding-top: 10px;
    background: linear-gradient(to bottom, #9B111E 0%, #8C020F 100%);
    /*  padding:18.5px 65px; /* делаем отступы выпадающего меню меньше от основного */
}

#nav ul li:hover {
    border: 1px solid #fff;
}

#nav li:first-child:hover > ul {
    left: 0; /* при наведении на первый элемент чтобы не съежало выпадающее меню */
}

#nav > li {
    border-right: 2px solid #fff; /* добавляем рамку к основному меню справа */
}

#nav > li:last-child {
    border-right: none; /* убираем рамку справа основного меню */
}

#nav > li ul li {
    border-left: 2px solid #d92a2a; /* добавляем рамку к выпадающему меню слева */
    border-right: 2px solid #d92a2a; /* добавляем рамку к выпадающему меню справа */
}

#nav li:first-child ul li, #nav li:first-child ul {
    border-left: none; /* убираем рамку у выпадающего меню слева */
}

#nav li:last-child ul li, #nav li:last-child ul {
    border-right: none; /* убираем рамку у выпадающего меню справа */
}


.language {
    height: 50px;
    float: right;
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif;
}

.language a {
    margin-left: 5px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    float: left;
}

.language form {
    float: right;
    padding: 5px;
}


/*---------------authorization------------*/


.form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 0 30px;
}

.form input {
    display: block;
    width: 100%;
}

.auth {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-text {
    text-align: center;
    font-family: AudioWide, serif;
    font-size: 24px;
    font-weight: bold;
    color: #9B111E;
}

.input {
    font-size: 16px;
    border: 2px solid #e9eaea;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #9B111E;
    outline: none;
}

.button {
    background: #9B111E;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.error-text {
    text-align: center;
    font-family: AudioWide, serif;
    font-size: 16px;
    color: red;
}

.detail {
    top: 100px;
    width: 500px;
    overflow-scrolling: auto;
    margin: 0 auto;
    font-family: AudioWide, serif;
    font-size: 16px;
    font-weight: bold;
    color: #9B111E;
}

.inputD {
    font-size: 16px;
    border: 2px solid #e9eaea;
    padding: 7px 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #9B111E;
    outline: none;
}

/* --------footer---------*/

footer {
    background: linear-gradient(to bottom, #9B111E 0%, #8C020F 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
}

.footer-block {
    width: 300px;
    float: left;
}

.footer-info {
    margin-top: 15px;
}

.footer-info a {
    padding-top: 10px;
    line-height: 20px;
}

.main {
    top: 100px;
    width: 960px;
    min-height: -webkit-calc(100vh - 130px);
    min-height: calc(100vh - 130px);
    overflow-scrolling: auto;
    margin: 0 auto;
    font-family: "Times New Roman", serif;
    font-size: 22px;
    color: #9B111E;
}

.nav-menu {
    /*  width: 200px;
      height: 200px;
      float: left;*/
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-left: 50px;
}


.nav-menu ul {
    width: 930px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    float: left;
    margin-left: 50px;
}

.link a {
    border-radius: 30px 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 88px;
    width: 200px;
    height: 110px;
    font-size: 24px;
    color: #ffffff;
    background: #9B111E; /* Цвет фона */
}

.link a:hover {
    border-radius: 30px 30px;
    color: #9B111E;
    background: #fff;
    border: 2px solid #9B111E;
}

/*SLIDER*/


#slider { /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider { /*центровка слайдера*/

}

#slides article { /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image { /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    height: 250px;
}

#overflow { /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

.visa { /*размер изображений слайдера*/
    width: 100%;
    position: relative;
}

.mastercard { /*размер изображений слайдера*/
    width: 100%;
    position: relative;
}
/*.image a{ !*размер изображений слайдера*!*/
/*    width: 250px;*/
/*    height: 150px;*/
/*    position: absolute;*/
/*}*/

.select_card{ /*размер изображений слайдера*/
    width: 250px;
    height: 150px;
    position: absolute;
    left: 355px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    z-index: 10;
}

.empty_card{
    width: 100%;
    position: relative;
}


.card_number {
    position: absolute;
    width: 100%;
    background: linear-gradient(45deg, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    font-family: "Credit Card", serif;
    left: 0;
    bottom: 35px;
    font-size: 12px;
    letter-spacing: 1px;
}

.new_card {
    position: absolute;
    width: 100%;
    font-family: "Credit Card", serif;
    left: 0;
    bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}


.visa .card_date {
    position: absolute;
    width: 100%;
    background: linear-gradient(45deg, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    font-family: "Credit Card", serif;
    left: 0;
    bottom: 22px;
    font-size: 8px;
    letter-spacing: 1px;
}

.visa .card_holder {
    position: absolute;
    width: 100%;
    background: linear-gradient(45deg, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    font-family: "Credit Card", serif;
    float: left;
    left: -50px;
    bottom: 3px;
    font-size: 10px;
    letter-spacing: 1px;
}

.mastercard .card_holder {
    position: absolute;
    width: 100%;
    background: linear-gradient(45deg, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    font-family: "Credit Card", serif;
    float: left;
    left: -50px;
    bottom: 3px;
    font-size: 10px;
    letter-spacing: 1px;
}

.mastercard .card_date {
    position: absolute;
    width: 100%;
    background: linear-gradient(45deg, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    font-family: "Credit Card", serif;
    float: left;
    left: -100px;
    bottom: 20px;
    font-size: 6px;
    letter-spacing: 1px;
}

#desktop:checked ~ #slider { /*размер всего слайдера*/
    max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
    background: url("../img/prev.png") no-repeat; /*заливка фона картинкой без повторений*/
    float: left;
    margin: 0 0 0 -84px; /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
    background: url("../img/next.png") no-repeat; /*заливка фона картинкой без повторений*/
    float: right;
    margin: 0 -84px 0 0; /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}

label, a { /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input { /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image {
    margin-left: 0;
}

#switch2:checked ~ #slides .image {
    margin-left: -100%;
}

#switch3:checked ~ #slides .image {
    margin-left: -200%;
}

#switch4:checked ~ #slides .image {
    margin-left: -300%;
}

#switch5:checked ~ #slides .image {
    margin-left: -400%;
}

#controls { /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label { /*стиль отдельного переключателя*/
    border-radius: 10px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active { /*расположение блока с переключателями*/
    margin: 23% 0 0;
    text-align: center;
}

#active label:hover { /*поведение чекбокса при наведении*/
    background: #76c8ff;
    border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image { /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover { /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label { /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}

.blocked {
    position: absolute;
    width: 100%;
    color: red;
    font-weight: bold;
    font-size: 30px;
    transform: rotate(-35deg);
    bottom: 40px;
    z-index: 1;
}

.card_info table {
    margin-top: 20px;
}



.card_info table > td{
    margin-top: 20px;
}

.select {
    display: block;

    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 350px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select::-ms-expand { display: none; }
.select:hover { border-color: #888; }
.select:focus { border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select option { font-weight:normal; }
*[dir="rtl"] .select, :root:lang(ar) .select, :root:lang(iw) .select {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

.select_temp {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 350px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    background-color: #fff;
}

.select_temp::-ms-expand { display: none; }
.select_temp:hover { border-color: #888; }
.select_temp:focus { border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select_temp option { font-weight:normal; }
*[dir="rtl"] .select_temp, :root:lang(ar) .select_temp, :root:lang(iw) .select_temp {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}